@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4" id="SortElements" style="background-color:greenyellow;">
            dddddddddd
        </div>
        <div class="col-lg-8" id="ShowElements" style="background-color:yellow;">
            dddfdfdfdfdfdfdfd
        </div>
    </div>
</div>
