@using HolidayApp.Entities

@using HolidayApp.Models
@model Image
@{
    ViewBag.Title = "EditPicture";
}




<div>
    <h1>Image to Edit</h1>

    <div><image src="@Url.Content(Model.ImagePath)"></image></div>

    @using (Html.BeginForm("EditPicture", "Owner"))
    {
        <div>@Html.Hidden("ImagePath",Model.ImagePath)</div>
        <div class="col-md-10">
            <div>@Html.Label("Rotate Picture")</div>
            @Html.DropDownList("angle", EnumHelper.GetSelectList(typeof(Angle)))
        </div>
        <div><input type="submit" value="Change" class="btn btn-warning" /></div>
    }

</div>